<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page">
	<div class="page__container">

		<div class="game">
			<div class="game__wrap">
				<div class="game__top">
					<div class="game__logo">
						<img src="@img/logo.webp" alt="Logo">
					</div>

					<div class="jackpots">
						<div class="jackpots__item jackpots__item--grand">
							<span class="jackpots__label">Grand</span>
							<span class="jackpots__value">1,000.00</span>
						</div>
						<div class="jackpots__item jackpots__item--major">
							<span class="jackpots__label">Major</span>
							<span class="jackpots__value">150.00</span>
						</div>
						<div class="jackpots__item jackpots__item--mini">
							<span class="jackpots__label">Mini</span>
							<span class="jackpots__value">30.00</span>
						</div>
					</div>
				</div>

				<div class="game__field">
					<div class="game__left">
						<div class="lines-badge">
							<span class="lines-badge__num">25</span>
							<span class="lines-badge__text">
								<span>L</span><span>I</span><span>N</span><span>E</span><span>S</span>
							</span>
						</div>
						<ul class="lines__list" hidden>
							<li class="lines__item active" data-value="25"></li>
						</ul>
					</div>

					<div class="drum">
						<span class="drum__corner drum__corner--tl"></span>
						<span class="drum__corner drum__corner--tr"></span>
						<span class="drum__corner drum__corner--bl"></span>
						<span class="drum__corner drum__corner--br"></span>
						<div class="win-amount">
							<span class="win-amount__value">0.00</span>
						</div>
						<div class="drum__spinner">
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.webp" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.webp" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.webp" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-5.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-6.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-7.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-8.webp" alt="Icon game"></div>
							</div>
							<div class="drum__column">
								<div class="drum__image"><img src="@img/icon/icon-1.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-2.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-3.webp" alt="Icon game"></div>
								<div class="drum__image"><img src="@img/icon/icon-4.webp" alt="Icon game"></div>
							</div>
						</div>
					</div>

					<div class="game__button">
						<a href="#" class="game__button-spin">
							<img src="@img/button/arrows.png" alt="Spin">
							<span class="game__button-spin-label">Hold for<br>Turbo Spin</span>
						</a>
						<div class="game__spin-extra">
							<a href="#" class="game__button-turbo">
								<span class="game__icon game__icon--turbo"></span>
							</a>
							<a href="#" class="game__button-auto">
								<span class="game__icon game__icon--auto"></span>
								<span class="game__button-auto-label">A</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="menu">
				<div class="menu__container">
					<div class="menu__info menu__info--balance">
						<span class="menu__info-label">Balance</span>
						<span class="menu__info-value">1,000.00</span>
					</div>

					<div class="menu__info menu__info--win">
						<span class="menu__info-label">Win</span>
					</div>

					<div class="menu__bet">
						<button type="button" class="menu__button-arrow minus">
							<span></span>
						</button>
						<div class="menu__bet-value">
							<span class="menu__bet-label">
								<span class="menu__bet-icon"></span>
								<span class="menu__info-label">Bet</span>
							</span>
							<span class="menu__info-value">1.00</span>
						</div>
						<button type="button" class="menu__button-arrow plus">
							<span></span>
						</button>
					</div>

					<div class="menu__right">
						<a href="#" class="menu__sound sound-off">
							<span class="menu__icon menu__icon--sound"></span>
							<span class="menu__mute-line"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="popup">
				<div class="popup__overlay"></div>
				<div class="popup__content">
					<div class="popup__inner">
						<h2 class="popup__title">Congratulations!</h2>
						<p class="popup__text">Ready to continue playing?</p>
						<a class="cta-button" href="#">Download Now</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
